!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/content_assist/tx_utils.js')
    script(src='/javascripts/content_assist/EventDispatcher.js')
    script(src='/javascripts/content_assist/TextViewer.js')
    script(src='/javascripts/content_assist/CompletionProposal')
  body!= body